@import "tailwindcss";

body{
    background-color: #111;
}

/* Hide scrollbar by default */
.hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Show scrollbar on hover */
  /* .hide-scrollbar:hover::-webkit-scrollbar {
    width: 8px;
  }
  
  .hide-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* gray-600 */
    /* border-radius: 4px; */
  /* } */ 

  .skeleton {
    background: linear-gradient(90deg, #1d1c1c 25%, #2a2a2a 37%, #1d1c1c 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
  }
  
  @keyframes shimmer {
    0% { background-position: -400px 0; }
    100% { background-position: 400px 0; }
  }
  